@import url('css/global.css');

body {
    background-color: var(--dark-blue);
}

main {
    margin: 0 300px 0 300px;
    color: white;
}

/* Text */
/* main h1 {
    text-align: center;
    height: fit-content;
    margin: 0;
    font-size: 2rem;
} */

/* #message {
    margin-top: 0.45rem;
    font-size: 3.5rem;
    text-align: center;
} */
/* End text */

img {
    margin-top: 0.75rem;
    padding-bottom: 5em;
}

/* Button */
main button {
    align-self: center;
}

main button:hover {
    color: black;
    background-color: var(--lavender);
}

main a {
    text-decoration: none;
    color: inherit;
}

.cursor {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .cursor-one {
    background-color: #eb5e28cc;
    z-index: 5;
  }
  .cursor-two {
    width: 110px;
    height: 110px;
    background-color: #ccc5b9aa;
    z-index: 4;
  }
  .cursor-three {
    width: 170px;
    height: 170px;
    background-color: #403d39aa;
    z-index: 3; 
  }
/*End button */