:root {
    --blue: #00379E;
    --dark-blue: #023567;
    --lavender: #C29CCE;
    --gray: #C4C4C4;
    --foggy-blue: rgba(194, 156, 206, 0.4);
    --yellow: #FFB900;
}

/* Document */
* {
    box-sizing: border-box;
}

html {
    height:100%;
    font-size: 62.5%; /* Makes calculating em easier - px/10 */
}

/* Nav bar */
header {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
    height: 55px;
    background-color: var(--dark-blue);
    z-index: 1000; /* Ensure header is above other content */
}

#logo-and-title {
    display: flex;
    align-items: center;
}

#logo {
    display: inline-block;
    width: auto;
    margin-left: 2.07em;
    padding: 0;
    height: 5.58em;
    vertical-align: middle;
}

header a.site-title {
    margin: 0;
    padding-left: 1rem;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}

/* Nav items */
nav {
    overflow: hidden;
    white-space: nowrap;
}

nav ul {
    padding-right: 3.69rem;
    display: flex;
    align-items: center;
    margin: 0;
}

nav li {
    list-style: none;
    margin-left: 2.25rem;
    display: inline-block;
    background-color: var(--foggy-blue);
    min-width: 8.91rem;
    height: 3.78rem;
    line-height: 3.78rem;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.71rem;
    position: relative;
    z-index: 1;
    display: block;
}

nav a.active, nav a:hover {
    color: black;
}

nav li.active, nav li:hover {
    background-color: var(--lavender);
}

/* Body */
body {
    height:100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* Main content */
main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

/* Grid */
#wrapper {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 133.20px;
    grid-gap: 18px 2.7rem;
    margin: 7.65rem 9.0rem 11.8rem 9.0rem;
}

/* Each item in grid */
.section {
    box-sizing: border-box;
    margin: 0;
    display: flex;
}

/* Footer */
footer {
    flex-shrink:0;
    position: relative;
    right:0;
    bottom: 0;
    left: 0;
    height:100px;
    color:black;
    background-color: var(--lavender);
}

footer p {
    margin: 0 10rem;
}

footer .footer-main br {
    display:block;
    content: "";
    margin-top:5px;
}

footer a {
    text-decoration:underline;
    color: var(--blue);
}

footer #footer-disclaimer {
    padding: 15px 0;
    line-height:1;
    font-size:1.26em;
}

/* Text */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700; /* Bold */
    font-size: 3.33rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 2.88rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 2.43rem;
}

h4 {
    font-weight: 400; /* Regular */
    font-size: 1.89rem;
}

h5 {
    font-family: 'Merriweather', serif;
    font-weight: 400; /* Regular */
    font-size: 1.71rem; /*-----------16PX???--------*/
}

button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400; /* Regular */
    font-size: 1.71rem;
    border-radius: 0;
    border: none;
    cursor: pointer;
    background-color: var(--blue);
    color: white;
    height:3.78rem;
    width:15.1rem;
    padding:0;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.44rem;
    line-height: 2.25rem;
}
