@import url('css/global.css');

/* Flash animation */
@keyframes flash {
  to {
    visibility: hidden;
  }
}

.flash {
  animation: flash 1s steps(2, start) infinite;
}

/* Weather widget */
#mypanel {
  display: flex;
  flex-direction: column;
  overflow: none;
  box-sizing: border-box;
  background-color: var(--gray);
  color: black;
  margin: 0;
  text-align: center;
}

#mypanel button {
  justify-content:center;
}

#mypanel #weatherimg {
  height: 11rem;
  width: auto;
}

.day-bar {
  display: grid;
  overflow: none;
  height: 7.11rem;
  background-color: var(--dark-blue);
  grid-template-columns: repeat(5, 1fr);
  align-items: center;

}

.day {
  background-color: var(--foggy-blue);
  color: black;
  height: inherit;
}

.day:first-child {
  background-color: var(--lavender);
  color: white;
}

.day .day-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 0.4rem;
}

.day-icon {
  height: fit-content;
  width: auto;
}

#topstories .top {
  background-color: var(--lavender);
  height: auto;
}

#topstories h3 {
  color: black;
  font-weight: 500px;
  margin: 0;
  padding: 0.5rem;
}

/* Each item in top stories */
.stories {
  display: grid;
  grid-auto-rows: repeat(6, 1fr);
  row-gap: 1.35rem;
  grid-auto-columns: 1fr;
  padding: 2.7rem 0;
  color: white;
  box-sizing: border-box;
  justify-content: center;
  background-color: var(--dark-blue);
}

.story {
  background-color: var(--foggy-blue);
  width:100%;
}

.story-title, .story-sub {
  margin: 0 1.6rem;
  padding: 1.3rem 0;
  justify-content:center;
}

.story-title {
  font-weight: 600;
  padding-bottom: 0;
}

.story-sub {
  padding-top: 0;
}

#go-pro {
  grid-column: 2 / span 1;
  grid-row-start: 4;
}

#ad {
  grid-column: 2 / span 1;
  grid-row-start: 6;
}

/* COLUMN 3 */
#weather-alert {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  background-color: var(--gray);
}

#weather-alert .top {
  background-color: var(--dark-blue);
  height: 5.31rem;
}

#weather-alert h3 {
  color: white;
  font-weight: 500px;
  margin: 0;
  padding: 2.34rem 0 0 2.07rem;
}

#weather-alert #message {
  margin: 0 1.62rem;
  display: flex;
}

#weather-alert img {
padding: 1.0rem 1.665rem 1.665rem 1.665rem;
}

#weather-alert p{
  margin-top: 0.5rem;
}

#closings {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

#how-we-do-it {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
  background-color: var(--dark-blue);
  color: white;
  display: flex;
  flex-direction: column;
}

#how-we-do-it .wrap-foggy {
  background-color: var(--foggy-blue);
  height: 100%;
}

#how-we-do-it p {
  font-size: 1.8rem;
  margin: 2.25rem;
}

#get-in-touch {
  background-color: var(--gray);
  color: black;
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
  text-align: center;
}

#get-in-touch h2 {
  margin: 1.53rem 0 2.07rem 0;
}

#get-in-touch #wind {
  margin: 0.9rem 0 1.08rem 0;
}

#featured {
  grid-column: 3 / span 1;
  grid-row-start: 5;
  background-color: var(--dark-blue);
}

#featured .top {
  background-color: var(--lavender);
}

#featured .top h3 {
  color: black;
  font-weight: 500px;
  margin: 0;
  padding: 0.5rem;
}

/* #featured .card-body .product-img {
  background-color:var(--gray);
  height:19.3rem;
  width:29.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.98rem;
} */

#featured .card-body .card-text {
  display:inline-flex;
  color: white;
  justify-content:space-between;
}

#featured button {
  height: 3.33rem;
  width: 11.07rem;
  text-decoration: none;
}