<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/global.css">
    {% if page.styles %}
    <link rel="stylesheet" href="{{ page.styles | prepend: '/assets/css/' }}">
    {% endif %}
</head>

<body>
    <header>
        <h1>Welcome</h1>
    </header>

    <nav>
        <!-- Navigation links -->
    </nav>

    <main>
        {{ content }}
    </main>

    <footer>
        <!-- Footer content -->
    </footer>
    
</body>

</html>